#header
  {

   background-color:burlywood;
  height: 20vh;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border-radius: 10px;
}

  h3{
    margin-right:10em;

    color: chocolate;
    font-size: 35px;
  }
#header-img
{
  float:right;
  max-height: 100%;
}

 

main{
  font-family: Helvetica, sans-serif;
  background-color: #dbddd8;
  font-style: oblique;
  font-weight: bold;
}

 

form {
  width: 50%;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
}

 

label {
  display: inline-block;
  width: 150px;
  margin-bottom: 10px;
}

 

input[type="text"],
input[type="date"],
input[type="email"],
input[type="tel"],
input[type="Number"],
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-bottom: 20px;
}

 

input[type="submit"] {
  background-color: #4c4eaf;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

 

input[type="submit"]:hover {
  background-color: #45a049;
}